#!/bin/bash

function start_services {
  # start the services/containers which write data again
  rv=$?
  if [ -f /root/backup-pre.py ]; then python3 /root/backup-pre.py start; fi
  exit $(( $rv + $? ))
}

trap "start_services" EXIT

set -exuo pipefail

# setup env
DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" >/dev/null 2>&1 && pwd )"
cd $DIR
export $(xargs < /root/backup.env)

# check if these variables have been set
echo "$BORG_PASSPHRASE" > /dev/null
echo "$DEST1" > /dev/null
: "${SKIP_CHECK:='false'}"

export BORG_RSH='ssh -F /root/.ssh/config -o "StrictHostKeyChecking=no"'

function run_borg () {
  set +e  # don't fail if borg quits with exit code 1 (warning)
  borg $@
  borg_rc=$?
  if [[ $borg_rc -gt 1 ]]; then
    exit $borg_rc
  fi
  set -e
}

# check if variable exists: https://stackoverflow.com/a/11369388
if [ "$SKIP_CHECK" = "true" ]; then
  echo "skipping borg check."
else
  run_borg check ${DEST1}
fi

# stop services/containers which write data
if [ -f /root/backup-pre.py ]; then python3 /root/backup-pre.py stop; fi

run_borg create --stats --compression lzma ${DEST1}::'backup{now:%Y-%m-%d-%H}' {{ borg_args }} \
        --exclude *.cache/           \
        --exclude /dev               \
        --exclude /proc              \
        --exclude /sys               \
        --exclude /var/run           \
        --exclude /var/log           \
        --exclude /run               \
        --exclude /lost+found        \
        --exclude /mnt               \
        --exclude /tmp               \
        --exclude /media             \
        --exclude /var/lib/lxcfs

{% if prometheus_file is defined %}
echo "borgbackup_last_completed $(date +%s)" > {{ prometheus_file }}
{%- endif %}
start_services

run_borg prune --keep-daily=7 --keep-weekly=4 ${DEST1}
run_borg compact ${DEST1}

